@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

#logo{
    width:214px;
    height: 51px;
}

hr{ 
    border: none;
    border-left: 2px solid #E0E0E0;
    height: 4vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 350px;
    height: 64px;
   
}
nav ul{
    display:flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.linkNav{
    text-decoration: none;
    color: #818181;
}

.linkNav:hover{
    text-decoration: none;
    color: #7451EB;
}

#loop{
    font-size: 22px;
}

#loop:hover{
    color:#7451EB ;
}


#btnSignIn{
    color:#7451EB;
    border: 1px solid #7451EB;
    background-color: white;
    border-radius: 5px;
    padding: 14px;
    font-weight: 700;
}

#btnSignIn:hover{
   background-color: #c7bbf1;
}


#homePart1{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #7451EB;
    justify-content: center;
}

#homeBanner{
    height: 400px;
    position: relative;
    right: 120px;
}


h1{
    background-color: #003668;
    padding: 8px;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 20px;
    right: 80px;
}

article div p{
    font-size: 1rem;
    font-weight: 400;
    font-family: Montserrat;
    line-height: 1.625rem;
    color: white;
    position: relative;
    bottom: 40px;
    right: 80px;
}

article div input{
   background-color: white;
   border: 1px solid #7451EB;
   border-radius: 5px;
   font-weight: 700;
   color: #7451EB;
   padding: 16px;
   position: relative;
    bottom: 40px;
    right: 80px;
}
article div input:hover{
    box-shadow: 2px 2px 5px black;
}



#homePart2{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 16px;
    margin-top: 25px;
    margin-bottom: 100px;
}

.cardImg{
    height: 250px;
}

.cardTitle{
    color:#003668;
    font-size: 20px;
}

.cardContent{
    color: #686464;
    font-size: 16px;
}

#homePart3{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 80px;
}

#titleHomePart3{
color: white;
font-size: xx-large;
background-color: #7451EB;
width: max-content;
padding: 8px;
position: relative;
right: 80px;
}

#homePart3partie1{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 320px;
}

#homePart3partie2{
    position: relative;
    right: 80px;
}

 video{
     width:400px
 }
#homePart3partie1Parag{
    color: #3f3d3d;
    font-size: 17px;
}

#homePart3partie1Parag a {
    color:#3f3d3d;
}

#article4{
    margin-bottom: 50px;
    padding-top: 30px;
}
#title{
    text-align: center;
    color: #003668;
    font-size: 25px;
    font-weight: bolder;
}

#paragraphe {
    color: #5A7D9D;
    font-size: 16px;
}

.identity{
    color: #003668;
    font-size: 16px;
    font-weight: bolder;
}

#btnWatch{
    background-color: white;
    border: none;
    color: #7451EB;
    padding: 8px;
    font-weight: bolder;
    position: relative;
    right: 80px;
    bottom: 40px;
}

 #btnWatch:hover{

    border: 1px solid #c7bbf1;
    border-radius: 5px;
   background-color: #c7bbf1;
}


#img4{
    width:350px
}

#part4{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding: 32px;
}

#part4-1{
    position: relative;
    left:60px;
    bottom: 22px;
    
}
#part4-2{
    width: 45%;
    height: 345px;
    position: relative;
    left:120px
}


#part5{
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content: center;
}

#part5Title{
    position: relative;
    top:30px;
}

.part5Parag{
    color:#3f3d3d;
    font-size: 16px;
    position: relative;
    top:30px;
    left:0px
}

#btnContact{
    background-color: white;
    border: none;
    color: #7451EB;
    padding: 8px;
    font-weight: bolder;
    position: relative;
    top:40px;
    left:10px
}

#btnContact:hover{
    
    border: 1px solid #c7bbf1;
    border-radius: 5px;
   background-color: #c7bbf1;
}

#aa{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.bb{
    padding-left: 220px;
   position: relative;
}

#cc{
    color:#3f3d3d;
}

#cc:hover{
    color:#7451EB;
}



#footerContainer{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #dad2d2 ;
    padding: 16px;

}

#footerContainer ul{
    list-style: none;

}


#footerContainer li{
    margin-bottom: 20px;  

}

.footerLinkParent{
color: #507597;
font-size: 13px;
font-weight: 600;
}


.footerLink{
    color:#3f3d3d;
    text-decoration: none;
    font-size: 13px;
}

.footerLink:hover{
    color:#7451EB;
}

#SupportSection{
    display: flex;
    justify-content: center;
}


.btnSupportSection{
    background-color: white;
    border: none;
    width: 50px;
}

.btnSupportSection:hover{
    background-color:#f0f0f0;
    border-radius: 50%;
    justify-content: start;
    
}

#section4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#SocialMediaIcon{
    display: flex;
    gap: 20px;
    padding-left: 0;
}



#imgFooter{
    width:150px
}


#x{
    position: relative;
    left:7px;
}

.fa-facebook-f:hover{
    color: white;
    background-color: #1877F2;
    border:none;
}

.fa-twitter:hover{
    color: white;
    background-color: #03D0FC;
    border:none;
}

.fa-linkedin-in:hover{
    color: white;
    background-color: #4875B4;
    border:none;
}




.fa-youtube:hover{
    color: white;
    background-color: #FF0000;
    border:none;
}

.fa-instagram:hover{
    border:none;
    color: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.footerLinkDropDownMenu{
    color: #3f3d3d;
    text-decoration: none;
    position:relative;
    right:70px;
}





.dropbtn {
    margin-top:20px;
    display: flex;
   justify-content: space-between;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    border-top: #7451EB 2px solid;
    display: none;
    position: absolute;
    top:45px;
    left: 20px;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
 

@media all and (max-width: 984px){

    nav{
        display: none;
    }

    #ResponsiveNav{
        display: flex !important;;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 40px;
    }
    .resNav1{
        display: flex;
        gap:10px;
        align-items: center;
        list-style: none;
    }
    #homePart1{
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       align-items: center;
       padding-left: 150px;
       gap:50px;
    }

    #homePart2{
        display: flex;
        flex-direction: column;
        margin: 16px;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin:auto
    }

    #homePart3{
        display:flex ;
        flex-direction: column;
    }

    #homePart3partie1{
        width: min-content;
    }
    #homePart3partie2{
        width: min-content;
        padding-left: 30px;
    }

    #part4{
        display:flex ;
        flex-direction: column;
        margin-bottom: 250px;
    }

    #part4-1{
        justify-content: center;
    }
    #part4-2{
        padding-left:100px ;
    }


    #part5{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 100px;
    }

    .bb{
       display: none;
    }
    
    #footerContainer{
        display: flex;
        flex-direction: column;
            }

    #SupportSection{
        width: min-content;
    }

   .dropbtn{
       width: 250px
   }
    
}